body {
  background-color: red;
}

.bold{
    font-weight: bold;
}
.underline{
    border-bottom: bold;
}
.italic{
    font-style: italic;
}
.border{
    border: double
}
.color{
    color: green;
}
/*#marquee1 {
    position: absolute;
    top: 0;
    height: auto;
}
#marquee2 {
    position: absolute;
    top: 0;
    height: auto;
    float: right;
}*/
